html {
    height: 100%;
}

body {
    background-color: #fff;
}

h3 {
    margin-bottom: .5rem;
}

.header {
    text-align: center;
    color: #000;
}

.control-panel {
    background-color: bisque;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 20px;
}

.control-panel-inputs {
    display: flex;
}

.input-wrapper {
    margin-right: 20px;
}

input {
    width: 100%;
    padding: 5px 2px;
    margin-bottom: .5em;
    border-radius: 5px;
}

button {
    width: 5em;
    padding: .5em;
    margin: auto;
}

.simulator-container {
    display: flex;
    justify-content: center;
}

.simulator {
    display: flex
}

.simulation-panel {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center
}

.order-line-area {
    background-color: cadetblue;
    color: #fff;
}

.text-box {
    min-width: 2em;
    min-height: 2em;
    background-color: #fff;
    color: #000;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: .5em 0;
}

.current-order,
.order-being-prepared,
.ready-pickup {
    width: 8em;
}

.order-area {
    background-color: #d7385e;
    color: #fff;
}

.kitchen-area {
    background-color: #51adcf;
    color: #fff;
}

.waiting-orders-list {
    padding: 0;
    margin: 0;
    color: #000;
    height: 100px;
    overflow-y: auto;
    width: 8em;
    margin-top: .5em;
    background-color: #fff;
}

.pickup-line {
    background-color: #f78259;
}

.actor {
    max-width: 60px;
    width: 100%;
    position: absolute;
    transition: visibility 1000ms;
    display: none;
    top: 10px;
    z-index: 10;
}